# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Logs
*.log
logs/

# Environments
.env
.env.local
.env.*.local

# IDE / Editor settings
.vscode/
.idea/

# System
.DS_Store

# Coverage
coverage/

# TypeScript
*.tsbuildinfo